<div class="jumbotron">
	<h2>About This Site</h2>
	<br>
	<div class="panel-body">
		<p>Something Like Pinterest meets Blogging</p>
	</div>
	<div class="panel-footer">
		<p> Made by [Rushindra Sinha] </p>
	</div>
</div>